body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.quadrado{
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    transition: 3s;
    position: relative;
    animation-name: direita;
    animation-duration: 4s;
    animation-timing-function:ease-in;
    animation-iteration-count: 2;


    

}

@keyframes direita{
    from{
        left:0px; top:0px;
    }
    to{
        left:500px; top:0px;
    }
}