body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.quadrado{
    width: 200px;
    height: 200px;
    background-color: black;
    
    

}
.quadrado:hover{
    background-color: aqua;    
}



@keyframes troca {
    0%{
        background-color: black;
    }
    100%{
        background-color: aqua;
    }
}